<div [class.active]="isDragActive"
     class="uploader-area">

    <label [appDragSwitcher]="this"
           appDragNullifier
           (drop)="onFileDrop($event)"
           class="uploader-area-mask">
        <input (change)="onFileInputChange($event)"
               type="file"
               class="uploader-input">
    </label>

    <div class="uploader-info-wrapper">
        <div class="uploader-info-item">
            Перетащите файлы в эту область
        </div>
        <div class="uploader-info-item">
            или
        </div>
        <div class="uploader-info-item uploader-info-action">
            Выберите на компьютере
        </div>
    </div>

</div>
