@import "~src/styles/common";

:host {
  display: block;
}

.uploader-area {
  position: relative;
  width: 100%;
  height: 400px;
  border: 2px dashed gray;
  border-radius: 4px;
  background-color: #f2f2f2;

  &.active {
    background-color: #fff;
  }

  .uploader-area-mask {
    @include centrifyAbsolute();
    z-index: 1;
    display: block;
    cursor: pointer;
  }

  .uploader-info-wrapper {
    @include centrifyBlock();
    z-index: 0;

    .uploader-info-item {
      font-size: 20px;
      color: #9f9f9f;
      text-align: center;

      &:not(:last-child) {
        margin-bottom: 10px;
      }

      &.uploader-info-action {
        color: deepskyblue;
        cursor: pointer;
      }
    }
  }
}

.uploader-input {
  display: none;
}
