@import "~src/styles/common";

.page-wrapper {
  width: 800px;
  margin: 0 auto;
  padding: 20px 0;

  .image-uploader {
    width: 100%;
    margin-bottom: 20px;
  }

  .gallery {
    width: 100%;

    .gallery-active-image-wrapper {
      position: relative;
      width: 100%;
      height: 400px;
      margin-bottom: 20px;
      background-color: $image-bg-color;

      .gallery-active-image-label-wrapper {
        position: absolute;
        top: 20px;
        z-index: 1;
        width: 100%;
        text-align: center;

        .gallery-active-image-label {
          display: inline-block;
          height: $icon-size;
          padding: 0 20px;
          line-height: $icon-size;
          vertical-align: middle;
          color: $icon-text-color;
          background-color: $icon-bg-color;
          border-radius: $icon-size / 2;
          font-size: 20px;
        }
      }

      .gallery-active-image {
        @include centrifyBlock();
        display: block;
        max-width: 100%;
        max-height: 100%;
      }

      .gallery-switch {
        position: absolute;
        top: 0;
        bottom: 0;
        z-index: 1;
        margin: auto 0;
        width: $icon-size;
        height: $icon-size;
        background-color: $icon-bg-color;
        border-radius: 50%;
        cursor: pointer;

        &::after {
          @include centrifyAbsolute();
          display: block;
          content: '';
          width: $icon-size / 2;
          height: $icon-size / 2;
          border-left: 2px solid $icon-text-color;
          border-bottom: 2px solid $icon-text-color;
          transform: translateX(25%) rotate(45deg);
        }

        &.gallery-switch-left {
          left: 20px;
        }
        &.gallery-switch-right {
          right: 20px;
          transform: rotate(180deg);
        }
      }
    }

    .gallery-images-wrapper {

      .gallery-image-wrapper {
        position: relative;
        display: inline-block;
        width: 25%;
        height: 200px;
        background-color: $image-bg-color;
        text-align: center;
        opacity: 0.5;

        &.active {
          opacity: 1;
          border: 1px solid black;
        }
        &:not(.active) {
          cursor: pointer;
        }
        &:not(.active):hover {
          opacity: 1;
        }

        .gallery-image {
          @include centrifyBlock();
          display: block;
          max-width: 100%;
          max-height: 100%;
        }
      }
    }
  }
}
