<div class="page-wrapper">

    <app-image-uploader (imageUpload)="onImageUpload($event)"
                        class="image-uploader">
    </app-image-uploader>

    <div class="gallery">
        <div class="gallery-active-image-wrapper">
            <div class="gallery-active-image-label-wrapper">
                <div *ngIf="currentImageIndex !== null"
                     class="gallery-active-image-label">
                    {{currentImageIndex + 1}} из {{images.length}}
                </div>
            </div>

            <img *ngIf="currentImageIndex !== null"
                 [src]="images[currentImageIndex]"
                 class="gallery-active-image">

            <div (click)="onSwitchLeftPress()"
                 class="gallery-switch gallery-switch-left">
            </div>
            <div (click)="onSwitchRightPress()"
                 class="gallery-switch gallery-switch-right">
            </div>
        </div>

        <div class="gallery-images-wrapper">
            <div *ngFor="let image of images; trackBy: trackImageByIndex; index as i;"
                 (click)="onImagePress(image, i)"
                 [class.active]="currentImageIndex === i"
                 class="gallery-image-wrapper">
                <img [src]="image"
                     class="gallery-image">
            </div>
        </div>
    </div>

</div>
